body {
  font-family: 'Open Sans', sans-serif;
}

/* Color */
.clr-mangrove {color: #005E4E;}
.clr-snowdrop {color: white;}

.bg-mangrove {background-color: #005E4E;}

/* Layout */
.separator {
  display: block;
  height: 40px;
  clear: both;
}
.separator-md {
  display: block;
  height: 20px;
  clear: both;
}
.separator-sm {
  display: block;
  height: 10px;
  clear: both;
}
.separator-xs {
  display: block;
  height: 5px;
  clear: both;
}

.pad-lg {padding: 40px;}
.pad-md {padding: 20px;}

.no-margin {margin: 0 !important;}

.inline {display: inline;}

/* Card */
.card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 20px 0;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}
.card-title {
  font-size: 2rem;
  font-weight: bold;
}

#edit-photo-icon {
  margin-top: -35px;
  z-index: 9;
  position: relative;
}

/* Button */
@media (min-width: 768px) {
  .btn-lh {
    padding: 10px;
    margin-bottom: 10px;
  }

  p, ul {font-size: 1.2em;}
}

@media (max-width: 768px) {
  .btn-lh {
    padding: 10px;
  }
  #socmed img {
    width: 20px;
  }
  #socmed a {
    font-size: .9em;
    margin-bottom: 5px;
  }
}

.btn-lh {
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
.btn-lh-lg {
  font-size: 2rem;
}
.btn-lh-sm {
  padding: 8px 0;
  font-size: 1rem;
}
.btn-mangrove {
  background-color: #005E4E;
  color: white;
}
.btn-mangrove-outline {
  background-color: white;
  border: #005E4E solid 1px;
  color: #005E4E;
}
.btn-teratai {
  background-color: #F65169;
  color: white;
}
.btn-flax {
  background-color: #4699D8;
  color: white;
}
.btn-snowdrop {
  background-color: white;
  color: #005E4E;
}

.menu {
  font-size: 1.2rem;
  font-weight: bold;
  color: #005E4E;
  border: #005E4E solid 2px;
  padding: 16px;
  margin-right: 8px;
  border-radius: 40px;
  width: 100%;
  text-align: center;
}
.menu.active {
  color: white;
  background-color: #005E4E;
}

.top-rounded {
  border-radius: 10px 10px 0 0;
}
.bottom-rounded {
  border-radius: 0 0 10px 10px;
}

.stats {
  position: absolute;
  top: 10px;
  padding: 10px;
  color: white;
}
.stats h1 {
  margin: 0;
}
.stats small {
  color: white;
  font-weight: bold;
}

.timeline {
  height: 480px;
  overflow-y: scroll;
}

/* Chip */
.chip {
  padding: 2px 10px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
}
.chip.pink {
  background-color: #F65169;
}
.chip.blue {
  background-color: #4699D8;
}
.chip.orange {
  background-color: #F26E2C;
}
.chip.green {
  background-color: #008F77;
}

#chat-icon {
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 60px;
  z-index: 99;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-name {
  position: absolute;
  width: 70%;
}

/* Helper */
.clickable {cursor: pointer;}
